/***** CSS *****/
body{
    background-color:rgb(17, 198, 177);
    font-family:"Sour Gummy", sans-serif;
}

h1{
    font-family:"Sour Gummy", sans-serif;
    color:rgb(91, 251, 179);
    text-align:center;
    font-size:50px;
}

h2{
    font-family:"Sour Gummy", sans-serif;
    color:rgb(96, 127, 23);
    text-align:center;
    font-size:25px;
}

.tile{
    border: 1px solid rgb(70, 25, 126);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}


.controls {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.display{
    font-family:"Sour Gummy", sans-serif;
    color:rgb(10, 133, 112);
    font: size 24px;
    text-align: center;
}

.hide{
    display: none;
}


.scorecard{
  color: white;
   font-size: 24px;
}

#reset {
    font-family:"Sour Gummy", sans-serif;
    background-color:rgb(188, 70, 2);
}

.reset-scoreboard{
    background-color: rgb(188, 70, 2);
    color:rgb(0, 0, 0);
}

.X-display{
    color:rgb(255, 0, 0);
}

.O-display{
    color:rgb(13, 0, 255);
}